body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 500px;
}

input {
  width: 100%;
  margin-bottom: 6px;
  padding: 4px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

button {
  padding: 6px;
}
